server:
  port: 8001

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://mysql-db:3306/planbookai_auth?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
    username: auth_user
    password: auth123 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  rabbitmq:
    host: rabbitmq
    username: admin
    password: admin123
    port: 5672

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/

# JWT Configuration
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 1 day
  refresh-expiration: 604800000 # 7 days

logging:
  level:
    com.planbookai.auth: DEBUG
    org.springframework.security: DEBUG
